html,body{margin: 0;padding: 0;width: 100%;height: 100%}
body{background:#334a57}
/* -------------------------------------
* Slider Style
* ------------------------------------*/
.cute-slider{
    position: relative;
    margin-top:50px;
}

.wrapper{
    width:100%;
    margin:0 auto;
    max-width:800px;
    min-width:300px;
}
/* -------------------------------------
* Slider Style
* ------------------------------------*/
.my3d>img{width:100%;height:100%;}

#btn{position: absolute;left:50%;top:90%;}
#my3dspace{
    perspective: 800px;
    perspective-origin: 50% 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #3a3b3a;
}
#my3dgroup{
    width: 100%;
    height: 100%;
    -webkit-transform-style:preserve-3d;
    -webkit-transform-origin:50% 50% -333.5px;
    -webkit-transform:rotateX(0deg);
    -webkit-transition:transform 1.5s cubic-bezier(0.6,0.2,0.2,1);
    /*ease-in-out： 由慢到快再到慢。等同于贝塞尔曲线(0.42, 0, 0.58, 1.0)*/

}
.my3d{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    position:absolute;
    overflow: hidden;
}
#my3d1{background: cadetblue;}
#my3d1>p{position: absolute;left:0;top:0;font-size:100px;color:white;}
#my3d2{background: seagreen;-webkit-transform-origin:bottom;-webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg)
translateY(100%) ;}
#my3d3{
   background: greenyellow;-webkit-transform:translateZ(-667px) rotateZ(180deg) rotateY(180deg);
}
#my3d4{
    background:lightslategrey;-webkit-transform-origin:top;-webkit-transform:rotateX(-90deg)  rotateY(180deg)  rotateZ(180deg) translateY(-100%);

}
.my3dword{color: white;position: absolute;}
/*导航条*/
.menuMain{position:absolute !important;left:3%;top:0%;-webkit-transform: translateZ(30px) rotateX(0deg) rotateY(0deg);width: 94%;height: 98%;}
.menuMain button{font-size:30px;background-color: rgba(251, 255, 248, 0);color: white;border: none;}
.menuMain .btn-group{margin-top: 2%}
.menuMain .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {color:white!important;background-color:rgba(251, 255, 248, 0) !important;border:none !important;}
.menuMain .dropdown-menu{background: rgba(251, 255, 248, 0);color:white;}
.menuMain .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {color: white !important;text-decoration: none;
    background-color:rgba(251, 255, 248, 0);}
.menuMain .dropdown-menu>li>a{color: white}
.menuMain .row {margin-top: 10%;}


#my3d2word{-webkit-transform-origin:bottom;-webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg)
translateY(100%) translateZ(50px);width:94%;height: 98%;position: absolute;left: 3%;top:0%;}
#my3d2word .myWork1{height: 100px; background-color: darkred;}

#my3d3word{-webkit-transform: translateZ(-717px) rotateZ(180deg) rotateY(180deg);left:39%;top:52%;width:94%;height: 98%;position: absolute;left: 3%;top:0%;}
#my-cute-slider{overflow: hidden}
.slides>img{}

#my3d4word{-webkit-transform-origin:top;-webkit-transform:rotateX(-90deg)  rotateY(194deg)rotateZ(180deg) translateY(-231%);left:72%;top:-10%}
