
@-webkit-keyframes unfold{0%{-webkit-transform: rotateX(180deg);}50%{-webkit-transform: rotateX(-30deg);}100%{-webkit-transform: rotateX(0deg);}}
@-webkit-keyframes unfold-first{0%{-webkit-transform: rotateX(-90deg);}50%{-webkit-transform: rotateX(60deg);}100%{-webkit-transform: rotateX(0deg);}}
@-webkit-keyframes fold{0%{-webkit-transform: rotateX(0deg);}100%{-webkit-transform: rotateX(180deg);}}
@-webkit-keyframes fold-first{0%{-webkit-transform: rotateX(0deg);}100%{-webkit-transform: rotateX(-180deg);}}
@-webkit-keyframes swing-out{0%{-webkit-transform: rotateX(0deg);}30%{-webkit-transform: rotateX(-30deg);}60%{-webkit-transform: rotateX(15deg);}100%{-webkit-transform: rotateX(0deg);}}
@-webkit-keyframes swing-in{0%{-webkit-transform: rotateX(0deg);}50%{-webkit-transform: rotateX(-10deg);}90%{-webkit-transform: rotateX(15deg);}100%{-webkit-transform: rotateX(0deg);}}
@-webkit-keyframes unfold-over{0%{-webkit-opacity: 1.0;}100%{-webkit-opacity: 0.0;}}
@-webkit-keyframes fold-over{0%{-webkit-opacity: 0.0;}100%{-webkit-opacity: 1.0;}}
.node {position: relative;display: block;}
.face {pointer-events: none;position: absolute;display: block;height: 100%;width: 100%;left: 0;top: 0;}