.main{height:665px;background:url("../images/bg.png");background-size:cover;overflow:hidden }
.image{position:absolute;left:45%;top:150px;z-index: 1;opacity:0}
.o5{left:29%;top:40px;z-index: 9;width:600px;opacity: 1}
.o0{width:80px;}
.o1{width:100px;}
.o2{width:100px;}
.o3{width:92px;}
.o4{width:184px;}
.o6{width:135px;}
.b0{;width:175px;}
.b1{width:177px;}
.b2{width:70px;}
.b3{width:110px;}
.b4{width:126px;}
.r0{left:40%;width:210px;}
.r1{width:140px;}
.r2{z-index: 0;width:65px;}
.r3{width:200px;}
.r4{width:100px;}
.r5{width:100px;}
.g0{z-index: 0;width:218px;}
.g1{width:135px;}
.g2{width:57px;}
.g3{width:57px;}
.g4{width:110px;}
.a0{width:120px;}
.a1{width:137px;}
.a2{width:235px;}
#tu{z-index: 10;position: absolute;text-align: center;top:230px;color:#333;transform: rotate(0deg);transition-property: color,transform ;  transition: 1s;opacity: 0.8}
.oBtn{z-index: 10;position:absolute;font-size: 60px;text-align: center;top:350px;color:#333;transition-property: color ;  transition: 1s;opacity: 0.8}


