#main{width: 100%;height:100%;z-index: 1}
#mainLeft{width:100%;height:100%;overflow: hidden;position: relative}
#mainLeft>img{width: 100%;position: absolute;left:0;top:0;}
#mainLeft>p{color: black;position: absolute;left:48%;top:25%;opacity: 0;font-size: 0px;-webkit-transform: rotateY(0deg);
            transition: transform 1s}
