html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    background-color:#000000;
    /*overflow: hidden;*/
}
img{
    width: 100%;
    opacity: 0.3;
}
#mediaplayer{
    position: absolute;
    top:100px;
}