.top{position: relative;border-bottom: 1px solid #ccc;z-index: 9999;}
.left{height: 50px;line-height: 50px;text-align: center;font-size: 35px; font-family:"微软雅黑 Light"}
.menu{line-height: 55px;color: #ccc;position: absolute;right:20px;}
.right{height: 50px;line-height: 50px;font-size: 18px; font-family:"微软雅黑 Light";text-align: center}
.right>ul>li{margin: 0 35px;}
.right>ul>li>a{color: black}
.selectMenu{border-bottom: 1px solid #ccc;height: 40px;line-height: 40px;text-align: center;display: none;
background: #f9f9f9;position: absolute;left: 0;top:0;}
#la{}
/*.selectMenu>div{height: 20px;background: darkred;border-bottom: 1px solid blue;margin:0px -15px;}*/
